@import "styles/variable";

.advanced {
  a {
    margin: 1rem 0;

    padding: 0 !important;
    font-weight: 500 !important;
    font-size: x-small !important;
  }
}

.advanced_trigger {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: small !important;

  span {
    padding: 0 1rem;
    font-size: 6px;
  }
}
