@import "styles/variable";

.footer {
  background: $dark;

  padding: 2rem 0;

  > div {
    max-width: 375px;
    margin: auto;
  }
}

.search {
  display: flex;
  color: $white;
  position: relative;

  * {
    padding: 0;
  }

  label,
  input {
    font-size: 1.4rem;
    transition: all 0.5s ease;
  }

  input {
    padding: 1rem;
    outline-width: 0;
    border: 0;
    background: transparent;
  }

  input:focus {
    flex-grow: 1;
    background: $white;
  }

  input:focus + label {
    color: $secondary-cta;
    transform: translateY(-100%) scale(0.5);

    max-width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  label {
    transform-origin: left top;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
  }

  button {
    padding: 1rem;
    color: $white;
    background: transparent;
    border: 0;
  }
}
