@import "styles/variable";

.header {
  background: $dark;
  color: $white;

  a {
    display: inline-block;
    color: $white;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 800;

    padding: 4px 12px;
  }

  button {
    background: transparent;
    border: 0;
    color: $white;
  }
}

.nav {
  display: flex;
  padding: 0.71875rem 0;
  border-bottom: 0.0625rem solid #282f43;
}

.menu {
  margin: 0 30px;
}

.sign_group {
  display: flex;
  margin: auto;
}

.login {
  background: $red;
}

.notify {
  margin: 0 30px;
}
