@import "styles/variable";

.header {
  background: $dark;
  color: $white;

  a {
    display: inline-block;
    color: $white;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 800;
  }

  button {
    background: transparent;
    border: 0;
    color: $white;
  }
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: 0.0625rem solid $border;
  background: $dark;

  > div {
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    max-width: 1000px;
    min-height: 3rem;
  }
}

.sign_group {
  margin: auto;

  @include desktop {
    margin: 0;
  }

  > * {
    margin: 0 0.5rem;
  }

  > a {
    padding: 4px 12px;
  }
}

.login {
  background: $red;
}

.widget {
  background: $dark;
  position: relative;
  display: flex;

  flex-direction: column;

  overflow: scroll;

  @include desktop {
    > div {
      margin-top: 3rem;
    }
  }
}

.expand {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 30px;
  overflow: hidden;
  text-align: center;

  button {
    display: inline-block;
    color: $gray !important;
    padding: 2px 10px 16px 10px;
    border: 1.9px solid $gray !important;
    border-radius: 100%;
  }
}

.tabs {
  @include desktop {
    display: flex;
  }
}

.notify {
  padding: 1rem;
}

.menu {
  padding: 1rem;
}
