@import "styles/variable";

.fixed {
  background: $dark;
  position: fixed;
  top: 0;

  @include desktop {
    button {
      color: $dark !important;
    }

    background: transparent;
    position: relative;
  }
}

.page {
  background: #fff
    url("https://content.delta.com/content/dam/delta-applications/fresh-air-core/20.9.0/images/supergraphic-flyout.svg")
    no-repeat right 2rem top 2.9rem;

  a {
    font-size: 0.7rem !important;
    color: $dark !important;
  }

  section > div {
    max-width: 90%;
    margin: auto;
  }

  @include desktop {
    background: #fff;

    section {
      margin: 2rem 0;
    }

    section > div {
      max-width: 80%;
    }
  }
}

.tabs {
  padding-top: 5rem;

  @include desktop {
    padding-top: 0;
  }

  > div {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ddd;

    justify-content: start;

    a {
      margin: 0;
      padding: 0.5rem 2rem;
    }
  }
}

.search {
  * {
    color: gray;
  }
}

.list {
  overflow: scroll;
  max-height: 60vh;

  div {
    cursor: pointer;

    padding: 1rem 0;
    border-bottom: 1px solid #ddd;

    display: flex;
    flex-wrap: wrap;

    font-weight: 300;
    color: $secondary-cta;

    span:first-child {
      flex: 1;
    }

    span:last-child {
      flex: 6;
    }
  }
}
