@import "styles/variable";

.control {
  background: $dark;
  padding: 1rem;

  > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  button {
    padding: 1rem;
    font-size: small;
    font-weight: 600;
  }
}
