@import "styles/variable";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    width: 70%;
    padding: 1rem 0;
    outline: none;
  }

  button {
    padding: 0;
    font-size: medium;
  }

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

    margin: auto;
    min-width: 1000px;
    max-width: 70%;
  }
}

.fields {
  input {
    color: $white;
  }

  > * {
    margin: 1rem 0;
  }

  @include desktop {
    flex: 9;
    margin: 0 1rem;

    width: auto;
  }
}

.submit {
  display: flex;
  @include desktop {
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 0;
  }
  justify-content: flex-end;
  flex: 1;

  button {
    $size: 3rem;
    width: $size;
    height: $size;
    background: $red !important;
    border-radius: 100%;
  }
}
