@import "styles/variable";

.page {
  z-index: 1;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  @include desktop {
    top: auto;
    left: auto;
    width: 30vw;
    height: auto;
  }

  background: $white;
  color: $secondary-cta;

  display: flex;
  flex-direction: column;
  align-items: center;

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);

  > div {
    width: 100%;
  }
}

.open {
  visibility: visible;
  opacity: 1;
}
