@import "styles/variable";

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: block;
    font-size: 0.75rem;
    margin: 1rem;
  }

  padding-top: 4rem;

  @include desktop {
    padding: 0 1rem;
    margin-right: auto;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.active {
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;

    top: 32px;
    left: 0;
    border-bottom: 0.2rem solid $red;
  }
}
