@import "styles/variable";

.textfield {
  display: flex;
  color: $white;
  position: relative;
  border-bottom: 1px solid $gray !important;

  * {
    padding: 0;
  }

  label,
  input {
    transition: all 0.5s ease;
  }

  input {
    margin-right: auto;
    padding: 1rem;
    padding-bottom: 0;
    outline-width: 0;
    border: 0;
    background: transparent;

    font-size: 1rem;
  }

  input:focus {
    flex-grow: 1;
    background: $white;
  }

  input:focus + label {
    color: $secondary-cta;
    transform: translateY(-120%) scale(0.5);

    max-width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  label {
    transform-origin: left top;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  button {
    padding: 1rem;
    color: $white;
    background: transparent;
    border: 0;
  }
}
